*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    height: 100vh;
    font-family: 'Poppins';
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.hidden {
    display: none;
}

.button {
    z-index: 2;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    place-items: center;
  }
  
  /* Modal Content */
  .modal-content {
    max-width: 81vw;
    max-height: 81vh;
    min-width: 80vw;
    min-height: 80vh;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .container {
        height: 100vh;
        display: grid;
        place-items: center;
        /*position: absolute;*/
        z-index: 100;
        width: 100vw;
  }

  .onTop {
    display: none;
  }

  .nomargin {
    margin-top: 0;
  }

  .opacity {
    opacity: 0;
  }

  .menu {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 9;
    background-image: url('../static/ui/background.png');
    background-position: center;
    background-repeat: repeat-x;
    display: grid;
    place-items: center;
  }

  
  @media only screen and (max-width: 1680px) {
    .menu {
      background-size: cover;
    }
  }

  .grid {
    width: 90vw;
    height: 86vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .left {
  }