*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    height: 100vh;
    font-family: 'Poppins';
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.hidden {
    display: none;
}

.button {
    z-index: 2;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: hidden; /* Enable scroll if needed */
    background-color: #F4EADE; /* Black w/ opacity */
    place-items: center;
  }

  .modalOverview {
    display: none; 
    position: fixed;
    z-index: 5;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    place-items: center;
  }
  

  .modal-content {
    max-width: 95vw;
    max-height: 95vh;
    min-width: 94vw;
    min-height: 94vh;
  }

  .modal-contentOverview {
    width: 100vw;
    height: 80vh;
    background-color: #D5F3FF;
  }

  .absolute {
    position: absolute;
  }


  .container {
        display: grid;
        place-items: center;
        /*position: absolute;*/
        z-index: 100;
        width: 100vw;
  }

  .containerOverview {
    height: 100vh;
    display: grid;
    place-items: center;
    /*position: absolute;*/
    z-index: 100;
    width: 100vw;
}

  .onTop {
    display: none;
  }

  .nomargin {
    margin-top: 0;
  }

  .opacity {
    opacity: 0;
  }

  .menu {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 9;
    background-image: url('../static/ui/background.png');
    background-position: center;
    background-repeat: repeat-x;
    display: grid;
    place-items: center;
  }

  
  @media only screen and (max-width: 1680px) {
    .menu {
      background-size: cover;
    }
  }

  .grid {
    width: 90vw;
    height: 86vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .homeButton {
    margin-bottom: -12vh;
    margin-left: 2.3vw;
  }

  .image-container {
    position: absolute;
    width: 1200px;
  }

  .info {
    margin-bottom: -19vw;
    margin-left: -10vh;
  }

  .check {
    margin-left: 60vw;
    margin-bottom: -87vh;
  }